@tailwind base;
@tailwind components;
@tailwind utilities;


img{
    width:100%;
    height:100%;
    object-fit:cover;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none; 
  }

@layer components{
    .titles{
        @apply text-3xl font-bold mb-8
    }

    .padding{
        @apply px-[4rem]
    }
    
}